header{
    color: #707070;
    max-width: 980px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .logotipo{
        width: 20%;
        max-width: 100%;
    }

    .menu{
        nav{ 
            input{
            transform: scale(1);
            opacity: 0;
            position: absolute;
            }
        }
        
        ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            opacity: 0;

            li{ 
                margin: 2%
            }
            a{
                text-decoration: none;
                color: #707070;
                transition: 0.3s;
                
            }
            a:hover{
                color: lightskyblue;
                font-size: 2rem;
                
            }
        }
        nav input[type="checkbox"]:checked ~ ul{
            opacity: 1;
        }
    }

}

@media screen and (min-width: 500px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       
        img{
            width: 10%;
            max-width: 100%;
        }
        .menu{

            nav{ 
                i{
                opacity: 0;
                }
                input{
                    opacity: 0;
                }
            }
            ul{
                list-style: none;
                display: flex;
            flex-direction: row;
            align-items: space-evenly;
            opacity: 1;
                a{
                    text-decoration: none;
                }
            }
        }
       
    }
}